body {
	font-family: 'Zilla Slab', arial, sans-serif;
    font-weight: lighter;
	color: white;
	background-image: url("https://i.imgur.com/QztlVTN.jpeg");
	background-size: cover;
	background-color: #f3f3f3;
	cursor: default;
	margin: auto;
	width: 100%;
}

.email-img {
	border-radius: 50%;
	height: 42px;
	width: 42px;
}

.email-img:hover {
    opacity: 0.4;
	transition-delay: 20ms;
}

.email-spacer {
	text-align: center;
	padding-top: 1px;
	padding-bottom: 5.5%;
}

.job-pad {
	text-align: center;
	font-size: 32px;
}

.name-pad {
	text-align: center;
	font-size: 100px;
	padding-top: 13.5%;
	padding-bottom: 1px;
}

.place-pad {
	text-align: center;
	font-size: 32px;
}

